body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #343a40; /* Dark gray text color */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dee2e6; /* Light gray border */
    padding: 12px;
    text-align: left;
}

th {
    background-color: #48924b; /* Primary color for header background */
    color: #fff; /* White text color */
}

a {
    color: #117037;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 12px;
    width: 70%;
    border: 1px solid #ced4da; /* Light gray border */
    border-radius: 4px;
}

input[type="submit"] {
    padding: 12px;
    background-color:#48924b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
