{% extends 'base.html' %}

{% block head %}

<title>Task Master</title>

{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Task Master</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if 'error' in message %}red{% elif 'success' in message %}green{% else %}black{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if tasks | length < 1 %}

        <h4 style="text-align: center">There are no tasks. Create one below!</h4>

    {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href="/update/{{ task.id }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add task">
    </form>
</div>

{% endblock %}
